form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

section {
    align-items: start;
    display: flex;
    flex-direction: column;
}

section:nth-child(5) input {
    border: none;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 0 5px;
    width: 100%;
}

.form__btn--container {
    display: flex;
    column-gap: 1rem;
}