* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.a5-logo {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 50px;
}

h1 {
  margin: 6rem 0 2rem 0;
}

.app-container {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 25px 30px;
  width: 330px;
}

div {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .app-container {
    width: 468px;
  }
}